* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(227, 205, 205);
    display: flex;
    place-items: center;
    height: 100vh;
}
main {
    display: grid;
    grid-template-areas: 
    'a a b c'
    'd e e c'

    ;
    gap: 10px;
    width: 50%;
    margin: auto;
    
}
main div {
    padding: 2em;
    text-align: center;
    border-radius: 10px;
   
}
.item-a {
    background-color: rgb(215, 117, 52);
    grid-area: a;
}
.item-b {
    background-color: rgb(224, 224, 69);
    grid-area: b;
}
.item-c {
    background-color: rgb(110, 175, 110);
    grid-area: c;
}
.item-d {
    background-color: rgb(131, 181, 227);
    grid-area: d;
}
.item-e {
    background-color: rgb(48, 98, 117);
    grid-area: e;
}