* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 10px;
}
body {
  background-color: hsl(0, 0%, 95%);
}

main {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  flex-direction: row;
  
}
.first {
  background-color: hsl(31, 77%, 52%);
  padding: 2em;
  height: 80%;
}
h2 {
  font-size: 20px;
  padding-top: 60px;
  padding-bottom: 10px;
  color: hsl(0, 0%, 95%);
  font-size: bold;
}
p {
  font-size: 15px;
  padding-bottom: 100px;
  color: rgb(227, 214, 214);
  font-weight: bold;
  padding-top: 30px;
}
.second {
  background-color: hsl(184, 100%, 22%);
  padding: 2em;
  height: 80%;
}
.third {
  background-color: hsl(179, 100%, 13%);
  padding: 2em;
  height: 80%;
}
.button {
  border-radius: 15px;
  padding: 5px 12px;
  font-size: bold;
  
  
}
